<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="kursova_carParking_at2.Properties.Settings.kursova_carParkingConnectionString"
            connectionString="Data Source=DESKTOP-G5PU7L6;Initial Catalog=kursova_carParking;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>